<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDCrSjbUGcdGfHiXrNMf1kysobRugmbvGs</string>
	<key>GCM_SENDER_ID</key>
	<string>511021557254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartReserveAdmin</string>
	<key>PROJECT_ID</key>
	<string>smartreserve-337c2</string>
	<key>STORAGE_BUCKET</key>
	<string>smartreserve-337c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511021557254:ios:03099dba1434c72a934587</string>
</dict>
</plist>